<div class="p-6">
    <h1 class="primary-title">Gerenciamento de Clientes</h1>

    @if (!editing()) {
        <app-add-button (click)="buildForm()" textButton="Adicionar Novo Cliente"></app-add-button>

        <app-generic-table
            [data]="customers()"
            [columns]="[
                { key: 'id', label: 'ID' },
                { key: 'name', label: 'Nome' },
                { key: 'cpf', label: 'CPF' }
            ]"
            (edit)="onEdit($event)"
            (delete)="onDelete($event)"
        />
    }

    @if (editing()) {
        <app-generic-form
            [form]="form"
            [title]="selectedCustomer()?.id ? 'Editar Cliente' : 'Novo Cliente'"
            [fields]="[
                { name: 'name', label: 'Nome' },
                { name: 'cpf', label: 'CPF' }
            ]"
            (cancel)="cancelEdit()"
            (save)="onSubmit()"
        />
    }
</div>