@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@layer components {
    .primary-title {
        @apply text-3xl font-bold text-indigo-800 mb-6;
    }

    .overflow-x-auto {
        @apply overflow-x-auto block;
    }
}

body {
    font-family: 'Inter', sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}